# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [3]:
# Import your libraries:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_diabetes

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [4]:
# Your code here:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [7]:
# Your code here:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [24]:
diabetes['feature_names']

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [19]:
# Your code here:
diabetes.data.shape

(442, 10)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# Enter your answer here:
#How many attributes are there in the data? What do they mean? 10

#What is the relation between diabetes['data'] and diabetes['target']? features of people that can help to calculate the desease measure 

#How many records are there in the data? it has 442 rows

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [35]:
# Your code here:
X = diabetes.data
y = diabetes.target

In [36]:
pd.DataFrame(X,columns=diabetes['feature_names']).head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [37]:
pd.DataFrame(y).head()

       0
0  151.0
1   75.0
2  141.0
3  206.0
4  135.0

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [38]:
# Your code here:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [39]:
# Your code here:
diabetes_model = LinearRegression() # set linear regration

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [62]:
# Your code here:
X_train = diabetes['data'][:-20]
X_test =  diabetes['target'][:-20]
y_train = diabetes['data'][:-20]
y_test = diabetes['target'][:-20]


X_train, X_test, y_train, y_test = train_test_split(X, y)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [63]:
# Your code here:
model = diabetes_model.fit(X_train, y_train) #we train it

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [64]:
# Your code here:
y_pred =model.predict(X_test)
y_pred

array([187.65567889,  92.46442842, 177.09678101, 111.63308815,
       144.73681107, 208.76878286, 150.12138593, 163.95056734,
       118.62954714, 142.99607932, 133.29868229, 101.60702831,
        99.55202765, 102.11066809, 140.41982027, 228.93294223,
       153.91921278, 250.1707528 ,  86.86178602, 124.47597487,
       231.76550874,  80.96572479, 215.45050678, 119.44804157,
       125.22814762,  44.00232201, 101.0886122 , 162.45280222,
        89.97294107, 169.11832449, 240.20749447, 224.52281689,
       197.35642697, 176.1479032 , 116.23591761, 175.80582609,
       195.26779135, 120.62791242, 108.10502773, 124.21216392,
        70.62566464, 200.29484194, 171.43565769, 161.77283741,
       163.95100893, 235.67092421, 231.3378575 ,  81.9722635 ,
       247.22789456,  51.3691643 , 154.0404747 , 104.96740382,
        72.78230162, 171.08594487, 222.6418442 , 191.93129535,
       130.8369079 ,  90.84713752, 100.79752696, 181.36295065,
       148.85590819, 201.3183491 , 112.2927841 , 209.09039494,
       206.87027251, 171.51966093, 226.75531206, 163.99842658,
       115.85392324, 158.57382573, 139.308038  , 184.17475384,
       228.91799153,  90.45384209, 190.48054333, 113.73213067,
       169.08775247, 162.30039321, 172.66443078,  97.46977535,
       165.49481335, 181.73713381, 234.04703226,  80.01498858,
       188.00858387, 155.5773248 , 246.48206764, 207.61340813,
       249.18865203, 108.15563774,  89.526977  , 164.98229879,
       121.96560418, 145.38782282, 115.308446  ,  63.7833805 ,
       190.50727281, 153.88779971, 139.69686284, 111.5132625 ,
       115.94138794, 236.08784458, 163.55125494, 185.14191132,
        54.71790949, 150.12578829,  62.75275578, 106.20435623,
       160.58440228,  74.24912401, 176.13387003])

#### Print your `diabetes_target_test` and compare with the prediction.

In [65]:
# Your code here:
y_test

array([175.,  84., 262.,  61., 202., 166., 246., 179., 178., 187., 170.,
       118.,  53., 104., 116., 195., 100., 273., 115., 145., 280.,  60.,
       275., 168., 111., 116., 142., 185.,  91., 225., 215., 236., 137.,
       124., 200., 126., 123.,  92., 109.,  97., 104., 131.,  77., 262.,
       127., 275., 281.,  55., 275.,  63., 155., 129.,  77., 174., 295.,
       212.,  67., 201.,  47., 144., 172., 150.,  79., 268., 297., 111.,
       128., 141., 214., 198., 142., 283., 232., 102., 178.,  71., 235.,
       245., 181.,  94., 258.,  84., 261.,  98.,  78., 118., 274., 249.,
       243.,  72.,  87., 131., 132., 214.,  78.,  43., 257., 200., 200.,
       102.,  64., 272., 178., 164.,  57., 168.,  39., 152., 151.,  89.,
       171.])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [66]:
# Your explanation here:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.5180924293144298

In [67]:
from sklearn.metrics import mean_squared_error
display(mean_squared_error(y_test, y_pred))
display(np.sqrt(mean_squared_error(y_test, y_pred)))

2416.7779270090923

49.160735623148405

In [68]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_pred) # Tes what you know is the reality

39.92805792445044

In [ ]:
# no ot is not the same, and it is a poor model

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [ ]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [74]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [75]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [76]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [77]:
# Your code here:
#Oldest model
auto['model_year'].max()

82

In [78]:
#newst model
auto['model_year'].min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [80]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [82]:
#Droping empty rows
auto.dropna(inplace=True)

In [83]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [84]:
# Your code here:
auto['cylinders'].value_counts()
#There is 5 types of cilinders

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [85]:
# Your code here:
auto.drop('car_name', axis =1, inplace=True)

In [86]:
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [88]:
X = auto[['cylinders','displacement','horse_power','weight','acceleration','model_year']]
y =auto['mpg']

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [90]:
# Your code here:

auto_model = LinearRegression()

model = auto_model.fit(X_train, y_train)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [92]:
# Your code here:
y_pred = model.predict(X_test)
y_pred

array([20.9438341 , 26.60697253, 32.06839854, 14.24809111, 22.35615971,
       15.23451936, 27.68631731, 25.49834695, 35.07072369, 29.89535162,
       22.16362392, 28.21005791, 26.22635214, 29.47115497, 25.74111833,
       22.34595509, 16.60810127, 28.55937579, 34.42951024, 27.48590808,
       24.00054955, 34.35499888, 29.52673314, 15.80858268, 26.75848733,
       23.75227443, 28.45728906, 25.09813417, 12.30008282, 33.22960936,
       29.89860944, 31.90769946, 22.39245673, 30.41002039, 24.60467476,
       26.61399486, 23.4512704 , 30.99758285, 30.34507402, 12.10798613,
       24.36461447, 17.85855355, 25.00459247, 27.92185648, 23.00113274,
       29.17211392, 15.73091265, 32.03489528, 30.54062298, 29.9047868 ,
       20.83225205, 20.33177854, 26.203313  , 25.10089599, 22.34934857,
       15.43993876, 28.14269397, 27.36536518, 33.99911139, 21.15220399,
       10.11757679, 29.168528  , 22.51266225, 31.96847683, 23.98059048,
       19.60760434, 26.91601884, 11.5864885 , 31.76535314, 14.15706836,
       33.20466819,  9.99082149, 24.2564978 , 13.66405029, 21.75800212,
       21.23209099, 32.75601343, 30.52914166, 12.83152278])

In [93]:
model.score(X_test, y_test)

0.8019211534282447

In [94]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.8019211534282447

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [ ]:
# Your code here:

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [95]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.10)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [96]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09 =auto_model09.fit(X_train09,y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [102]:
# Your code here:
y_pred2 = auto_model09.predict(X_train09)
r2_score(y_train09,y_pred2 )

0.809006462824239

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [103]:
# Your code here:
y_pred21 = auto_model09.predict(X_test09)
r2_score(y_test09,y_pred21 )

0.7914572298823167

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [105]:
from sklearn.feature_selection import RFE

from sklearn.svm import SVR

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [108]:
# Your code here:


estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=3, step=1)
selector = selector.fit(X, y)

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.